@import './reset.css';
html,body{
  font-size: 12px;
  //font-family: "PingFangSC-Light", "Microsoft Yahei";
  font-family: "PingFangSC-Light", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";;
  -webkit-font-smoothing: antialiased;
}
