<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <div class="home">
    {{> ../../components/header/header}}
  <h2>This is {{name}} page.</h2>
</body>
</html>